@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}


///////////////////////////////////////
//0-600px
//600-900px tab
//900-1200px tab landscape
//1200-1800 computer
//1800-------  big screen


//////////////////////////////////breakpoint arg

@mixin respond($breakpoint){
    @if $breakpoint ==phone{
        @media (max-width: 500px){@content};
    }

    @if $breakpoint ==tab-mid{
        @media (max-width: 700px){@content};
    }

    @if $breakpoint ==tab-port{
        @media (max-width: 992px){@content};
    }

    @if $breakpoint ==tab-land{
        @media (max-width: 1200px){@content};
    }

    @if $breakpoint ==big-desktop{
        @media (min-width: 112.5em){@content};
    }

}