<div class="chatbot-div"><strong><a target="blank" class="chatbot"
         href="https://integrations.eu-gb.assistant.watson.cloud.ibm.com/web/public/27a40348-ccac-46b8-9fad-0f89319cca30">______</strong></a>
</div>


<script src="js/index.js"></script>

</body>

</html>