<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>
</head>
<body>
    <h1><%=User.email%></h1>
    <form action="/users/resetPassword/<%=token%>" method="POST">
    <input type="password" minlength="8" required name="password">
    <button type="submit" style="width: 50px;height: 50px;"></button>
   </form>
</body>
</html>