<%- include('navbar') -%>
<div id="home-img" class="home-img"><img src="images/covidcare.png" alt="Covidcare"></div>
<div class="container-xl">
   <a onclick="scrollToTop()" class="to-top btn btn-lg btn-light">▲</a>
   <div class="paper helpline_heading">
      <h2 class="helpline_no">COVID-19 Helpline</h2>
      <p>The coronavirus pandemic is affecting daily lives of people worldwide forced countries to shut their borders
         and imposing strict restrictions to avoid further spread of COVID-19. WHO stated, more than 1,00,000 positive
         cases have been reported globally in 114 countries so far and among them, more than 90% of cases are from four
         countries that are severely impacted resulting in complete lockdown. The number of positive cases in India is
         rapidly going up with every passing moment. Please reach out to <b>Emergency COVID-19 Helpline numbers</b>
         given below in case you are experiencing any of the symptoms such as <b>Consistent Fever, Dry Cough, Shortness
            of Breath</b>. The symptoms may appear <b>2-14 days after exposure. </b></p>
   </div>
</div>
<div class="container-xl bg-light">
   <p class="helpline_no">Central Helpline Number for corona-virus:-<a href="tel:+91-11-23978046"> +91-11-23978046</a>
   </p>
   <hr>
   <p class="helpline_no">Helpline Numbers of States & Union Territories (UTs)</p>
   <table class="table table-striped table-hover table-responsive-md">
      <thead>
         <tr>
            <th scope="col">S No.</th>
            <th scope="col">State/UT</th>
            <th scope="col">Helpline Number</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td scope="row">01</td>
            <td>Andhra Pradesh</td>
            <td><a href="tel:0866-2410978">0866-2410978</a></td>
         </tr>
         <tr>
            <td scope="row">02</td>
            <td>Arunachal Pradesh</td>
            <td><a href="tel:9436055743">9436055743</a></td>
         </tr>
         <tr>
            <td scope="row">03</td>
            <td>Assam</td>
            <td><a href="tel:6913347770">6913347770</a></td>
         </tr>
         <tr>
            <td scope="row">04</td>
            <td>Bihar</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">05</td>
            <td>Chhattisgarh</td>
            <td><a href="tel:077122-35091">077122-35091</a></td>
         </tr>
         <tr>
            <td scope="row">06</td>
            <td>Goa</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">07</td>
            <td>Gujarat</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">08</td>
            <td>Haryana</td>
            <td><a href="tel:8558893911">8558893911</a></td>
         </tr>
         <tr>
            <td scope="row">09</td>
            <td>Himachal Pradesh</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">10</td>
            <td>Jharkhand</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">11</td>
            <td>Karnataka</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">12</td>
            <td>Kerala</td>
            <td><a href="tel:0471-2552056">0471-2552056</a></td>
         </tr>
         <tr>
            <td scope="row">13</td>
            <td>Madhya Pradesh</td>
            <td><a href="tel:0755-2527177">0755-2527177</a></td>
         </tr>
         <tr>
            <td scope="row">14</td>
            <td>Maharashtra</td>
            <td><a href="tel:020-26127394">020-26127394</a></td>
         </tr>
         <tr>
            <td scope="row">15</td>
            <td>Manipur</td>
            <td><a href="tel:03852411668">03852411668</a></td>
         </tr>
         <tr>
            <td scope="row">16</td>
            <td>Meghalaya</td>
            <td><a href="tel:108">108</a></td>
         </tr>
         <tr>
            <td scope="row">17</td>
            <td>Mizoram</td>
            <td><a href="tel:102">102</a></td>
         </tr>
         <tr>
            <td scope="row">18</td>
            <td>Nagaland</td>
            <td><a href="tel:7005539653">7005539653</a></td>
         </tr>
         <tr>
            <td scope="row">19</td>
            <td>Odisha</td>
            <td><a href="tel:9439994859">9439994859</a></td>
         </tr>
         <tr>
            <td scope="row">20</td>
            <td>Punjab</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">21</td>
            <td>Rajasthan</td>
            <td><a href="tel:0141-2225624">0141-2225624</a></td>
         </tr>
         <tr>
            <td scope="row">22</td>
            <td>Sikkim</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">23</td>
            <td>Tamil Nadu</td>
            <td><a href="tel:044-29510500">044-29510500</a></td>
         </tr>
         <tr>
            <td scope="row">24</td>
            <td>Telangana</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">25</td>
            <td>Tripura</td>
            <td><a href="tel:0381-2315879">0381-2315879</a></td>
         </tr>
         <tr>
            <td scope="row">26</td>
            <td>Uttarakhand</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">27</td>
            <td>Uttar Pradesh</td>
            <td><a href="tel:18001805145">18001805145</a></td>
         </tr>
         <tr>
            <td scope="row">28</td>
            <td>West Bengal</td>
            <td><a href="tel:03323412600">03323412600</a></td>
         </tr>
         <tr>
            <td scope="row">29</td>
            <td>Andaman & Nicobar Islands</td>
            <td><a href="tel:03192-232102">03192-232102</a></td>
         </tr>
         <tr>
            <td scope="row">30</td>
            <td>Chandigarh</td>
            <td><a href="tel:9779558282">9779558282</a></td>
         </tr>
         <tr>
            <td scope="row">31</td>
            <td>Dadra & Nagar Haveli</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">32</td>
            <td>Daman & Diu</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">33</td>
            <td>Delhi</td>
            <td><a href="tel:011-22307145">011-22307145</a></td>
         </tr>
         <tr>
            <td scope="row">34</td>
            <td>Jammu</td>
            <td><a href="tel:01912520982">01912520982</a></td>
         </tr>
         <tr>
            <td scope="row">35</td>
            <td>Kashmir</td>
            <td><a href="tel:01942440283">01942440283</a></td>
         </tr>
         <tr>
            <td scope="row">36</td>
            <td>Ladakh</td>
            <td><a href="tel:01982256462">01982256462</a></td>
         </tr>
         <tr>
            <td scope="row">37</td>
            <td>Lakshadweep</td>
            <td><a href="tel:104">104</a></td>
         </tr>
         <tr>
            <td scope="row">38</td>
            <td>Puducherry</td>
            <td><a href="tel:104">104</a></td>
         </tr>
      </tbody>
   </table>
</div>
<%- include('partials/footer') -%>