<%- include('navbar') -%>
<div id="home-img" class="home-img"><img src="images/covidcare.png" alt="Covidcare"></div>
<div class="container-xl">
   <div class="row">

      <div class="toc col-md-3">
         <div class="toc-item">
            <h2>fast track</h2>
            <hr>
            <a href="#paper-1">
               <p>1- Overview</p>
            </a>
            <a href="#paper-2">
               <p>2- Dos against coronavirus</p>
            </a>
            <a href="#paper-3">
               <p>3- Donts against coronavirus</p>
            </a>
            <a href="#paper-4">
               <p>4- Symptoms</p>
            </a>
            <a href="#paper-5">
               <p>5- Q&A on coronaviruses</p>
            </a>
         </div>
         <a onclick="scrollToTop()" class="to-top btn btn-lg btn-light">▲</a>
      </div>
      <div class="home col-md-9">
         <div class="paper" id="paper-1">
            <h1>Overview</h1>
            <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

               Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and
               recover
               without requiring special treatment. Older people, and those with underlying medical problems like
               cardiovascular
               disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.

               The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the
               disease it
               causes and how it spreads. Protect yourself and others from infection by washing your hands or using an
               alcohol
               based rub frequently and not touching your face.

               The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an
               infected
               person
               coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by
               coughing
               into a
               flexed elbow).

               At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing
               clinical
               trials evaluating potential treatments. We will continue to provide updated information as soon as
               clinical
               findings become available.</p>
         </div>
         <div class="paper" id="paper-2">
            <h1>things you should do to prevent infection and to slow transmission of COVID-19</h1>
            <p>
               <ul>
                  <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
                  <li>Maintain at least 1 metre distance between you and people coughing or sneezing. </li>
                  <li>Avoid touching your face. </li>
                  <li>Cover your mouth and nose when coughing or sneezing. </li>
                  <li>Stay home if you feel unwell.</li>
                  <li>Refrain from smoking and other activities that weaken the lungs. </li>
                  <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of
                     people
                  </li>
               </ul>
            </p>
         </div>

         <div class="paper" id="paper-3">
            <h1>11 things you should not do during the Coronavirus outbreak</h1>
            <h2>1- Do not panic! <a class="button-1 btn btn-lg btn-light">+</a></h2>
            <div class="item-1 hide">
               <img src="images/1.jfif" alt="">
               <p>The coronavirus pandemic has taken everybody by alarm. The internet is filled with information about
                  the
                  virus
                  and its spread, many of it also wrong, causing panic among the people. While we all know the basic
                  precautions
                  to be taken to save yourself from being infected, here is a list of 10 things you should not do to
                  save the
                  infection and panic about the disease from escalating further.</p>
            </div>
            <hr>
            <h2>2- Do not touch your face <a class="button-2 btn btn-lg btn-light">+</a></h2>
            <div class="item-2 hide">
               <img src="images/2.jfif" alt="">
               <p>Medical advisories from the World Health Organisation (WHO) has reminded us time and again not to
                  touch our
                  face, nose and mouth too often. This helps reduce the chances of catching the virus as infection from
                  your
                  hands do not reach the nose or mouth from where it can infect the body. Keeping your hands clean will
                  also
                  help reduce the chances of the infection spreading any further.</p>
            </div>
            <hr>
            <h2>3- Do not stockpile on masks <a class="button-3 btn btn-lg btn-light">+</a></h2>
            <div class="item-3 hide">
               <img src="images/3.jfif" alt="">
               <p>It has been declared by the WHO, masks are not the most effective way of stopping the spread of the
                  disease.
                  They should only be worn by people who have been affected by the COVID-19, people who are taking care
                  of
                  patients. Wearing masks if you are healthy does not give you any extra protection from the virus. With
                  everyone stocking on masks, the market is facing a major crunch which means there are a lesser number
                  of
                  masks available for people who really need them. It is advisable to stop using and piling on masks if
                  you
                  are not sick.</p>
            </div>
            <hr>
            <h2>4- Do not travel unless necessary <a class="button-4 btn btn-lg btn-light">+</a></h2>
            <div class="item-4 hide">
               <img src="images/4.jfif" alt="">
               <p>The airports and airplanes are where you are most likely to catch an infection. It Is advisable not to
                  travel unless absolutely necessary. If you are travelling, you should take the required precautions
                  and get
                  yourself screened on landing. It is important you inform the airport and airline staff of you begin to
                  feel
                  sick while travelling.</p>
            </div>
            <hr>
            <h2>5- Do not go to crowded places <a class="button-5 btn btn-lg btn-light">+</a></h2>
            <div class="item-5 hide">
               <img src="images/5.jfif" alt="">
               <p>Public transport, metros, gyms and any other crowded place should be avoided. The more the number of
                  people,
                  the more likely of the spread of the virus. If you have symptoms, self-quarantine yourself other than
                  to
                  visit the doctor. Staying isolated and not coming in contact with a lot of people is the only way to
                  contain
                  the spread of the disease.</p>
            </div>
            <hr>
            <h2>6- Do not believe everything on the internet <a class="button-6 btn btn-lg btn-light">+</a></h2>
            <div class="item-6 hide">
               <img src="images/6.jfif" alt="">
               <p>The internet is filled with information about the symptoms and cure available for coronavirus. Do not
                  believe anything unless it comes from a reliable source or a reliable medical practitioner. Spreading
                  false
                  information and promises about the cure for the disease has added to the panic and kept a large
                  percentage
                  of the population misinformed. Advertisements about health kits and alternative ways to cure the
                  infection
                  are also doing the rounds of the internet. Do not fall into the trap yourself or propagate any
                  information
                  that is not from a reliable source.</p>
            </div>
            <hr>
            <h2>7- Do not seek alternative treatments <a class="button-7 btn btn-lg btn-light">+</a></h2>
            <div class="item-7 hide">
               <img src="images/7.jfif" alt="">
               <p>If you feel you have contracted the virus, do not seek any treatments other than the ones advised by
                  your
                  doctor. Alternative treatments have not been found to be effective to treat the virus. It is advisable
                  that
                  you only follow the advice of your doctor. If you are infected and do not seek correct medical
                  attention you
                  pose as a threat to all the people around you. It is important for containing the spread of the
                  disease that
                  everyone consult a reliable medical practitioner on the treatments available.</p>
            </div>
            <hr>
            <h2>8- Do not take antibiotics <a class="button-8 btn btn-lg btn-light">+</a></h2>
            <div class="item-8 hide">
               <img src="images/8.jfif" alt="">
               <p>It can be easy to resort to taking the antibiotics lying in the medical kit at your home. However,
                  antibiotics are not the correct medication to fight of infections caused by coronavirus. If you feel
                  you are
                  sick and need medical attention, only resort to reliable medical practitioners who will give you sound
                  advice. Visit the doctor immediately if you start to feel symptoms that may indicate you have the
                  infection.
               </p>
               <p>Containment, the key strategy in quickly halting an epidemic, requires rapid identification and
                  quarantine
                  of the infected individuals, determination of whom they have had close contact with in the previous
                  days and
                  weeks, and decontamination of locations the infected individual has visited. Achieving containment
                  demands
                  accurate and timely collection of the infected individual’s location and contact history.
                  Traditionally,
                  this process is labor intensive, susceptible
                  to memory errors, and fraught with privacy concerns. With the recent almost ubiquitous availability of
                  smart-phones,
                  many people carry a tool which can be utilized to quickly identify an infected individual’s contacts
                  during
                  an epidemic,
                  such as the current 2019 novel Coronavirus (COVID-19) crisis. Unfortunately, the very same
                  first-generation
                  contacttracing tools can also be – and have been – used to expand mass surveillance, limit individual
                  freedoms and expose the
                  most private details about individuals.</p>
            </div>
            <hr>
            <h2>9- Skip the flu shot <a class="button-9 btn btn-lg btn-light">+</a></h2>
            <div class="item-9 hide">
               <img src="images/9.jfif" alt="">
               <p>Symptoms of the flu and COVID-!9 are very similar. The symptoms between the two overlap and can
                  complicate
                  diagnosis. It is important that you take the flu shot to reduce your chances of catching the flu.</p>
            </div>
            <hr>
            <h2>10- Do not panic <a class="button-10 btn btn-lg btn-light">+</a></h2>
            <div class="item-10 hide">
               <img src="images/10.jfif" alt="">
               <p>Most of the times, panic leads to people taking wrong and ill-informed decisions. If you follow basic
                  personal hygiene along with the other precautions, it is very less likely for you to catch the
                  disease. It
                  is important to keep up to date with reliable information. Propagating wrong information can further
                  fuel
                  the panic among the people and have an adverse effect on the efforts to contain the epidemic.</p>
            </div>
         </div>
         <div class="paper" id="paper-4">
            <h1>Symptoms</h1>
            <p>The COVID-19 virus affects different people in different ways. COVID-19 is a respiratory disease and most
               infected people will develop mild to moderate symptoms and recover without requiring special treatment.
               People
               who have underlying medical conditions and those over 60 years old have a higher risk of developing
               severe
               disease and death.</p>
            <p>Common symptoms include:</p>
            <ul>
               <li>fever</li>
               <li>tiredness</li>
               <li>dry cough</li>
            </ul>
            <p>Other symptoms include:</p>
            <ul>
               <li>shortness of breath</li>
               <li>aches and pains</li>
               <li>sore throat</li>
               <li>and very few people will report diarrhoea, nausea or a runny nose.</li>
            </ul>
            <p>People with mild symptoms who are otherwise healthy should self-isolate and contact their medical
               provider or a
               COVID-19 information line for advice on testing and referral.
               People with fever, cough or difficulty breathing should call their doctor and seek medical attention.</p>
         </div>
         <div class="paper" id="paper-5">
            <h1>Q&A on coronaviruses (COVID-19)</h1>
            <h2>What is a coronavirus? <a class="q-1 btn btn-lg btn-light">+</a></h2>
            <p class="ans-1 hide">Coronaviruses are a large family of viruses which may cause illness in animals or
               humans.
               In humans,
               several
               coronaviruses are known to cause respiratory infections ranging from the common cold to more severe
               diseases
               such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most
               recently
               discovered coronavirus causes coronavirus disease COVID-19</p>
            <hr>
            <h2>What is COVID-19? <a class="q-2 btn btn-lg btn-light">+</a></h2>
            <p class="ans-2 hide">COVID-19 is the infectious disease caused by the most recently discovered coronavirus.
               This
               new virus and
               disease were unknown before the outbreak began in Wuhan, China, in December 2019.</p>
            <hr>
            <h2>What are the symptoms of COVID-19? <a class="q-3 btn btn-lg btn-light">+</a></h2>
            <p class="ans-3 hide">The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some
               patients may
               have aches
               and
               pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually mild and begin
               gradually. Some people become infected but don’t develop any symptoms and don't feel unwell. Most people
               (about
               80%) recover from the disease without needing special treatment. Around 1 out of every 6 people who gets
               COVID-19 becomes seriously ill and develops difficulty breathing. Older people, and those with underlying
               medical problems like high blood pressure, heart problems or diabetes, are more likely to develop serious
               illness. People with fever, cough and difficulty breathing should seek medical attention.</p>
            <hr>
            <h2>How does COVID-19 spread? <a class="q-4 btn btn-lg btn-light">+</a></h2>
            <p class="ans-4 hide">People can catch COVID-19 from others who have the virus. The disease can spread from
               person to person
               through
               small droplets from the nose or mouth which are spread when a person with COVID-19 coughs or exhales.
               These
               droplets land on objects and surfaces around the person. Other people then catch COVID-19 by touching
               these
               objects or surfaces, then touching their eyes, nose or mouth. People can also catch COVID-19 if they
               breathe in
               droplets from a person with COVID-19 who coughs out or exhales droplets. This is why it is important to
               stay
               more than 1 meter (3 feet) away from a person who is sick.
               WHO is assessing ongoing research on the ways COVID-19 is spread and will continue to share updated
               findings.
            </p>
            <hr>
            <h2>How likely am I to catch COVID-19? <a class="q-5 btn btn-lg btn-light">+</a></h2>
            <p class="ans-5 hide">The risk depends on where you are - and more specifically, whether there is a COVID-19
               outbreak unfolding
               there.

               For most people in most locations the risk of catching COVID-19 is still low. However, there are now
               places
               around the world (cities or areas) where the disease is spreading. For people living in, or visiting,
               these
               areas the risk of catching COVID-19 is higher. Governments and health authorities are taking vigorous
               action
               every time a new case of COVID-19 is identified. Be sure to comply with any local restrictions on travel,
               movement or large gatherings. Cooperating with disease control efforts will reduce your risk of catching
               or
               spreading COVID-19.

               COVID-19 outbreaks can be contained and transmission stopped, as has been shown in China and some other
               countries. Unfortunately, new outbreaks can emerge rapidly. It’s important to be aware of the situation
               where
               you are or intend to go. WHO publishes daily updates on the COVID-19 situation worldwide.</p>
            <hr>
            <h2>Should I worry about COVID-19? <a class="q-6 btn btn-lg btn-light">+</a></h2>
            <p class="ans-6 hide">Illness due to COVID-19 infection is generally mild, especially for children and young
               adults. However,
               it can
               cause serious illness: about 1 in every 5 people who catch it need hospital care. It is therefore quite
               normal
               for people to worry about how the COVID-19 outbreak will affect them and their loved ones.
               We can channel our concerns into actions to protect ourselves, our loved ones and our communities. First
               and
               foremost among these actions is regular and thorough hand-washing and good respiratory hygiene. Secondly,
               keep
               informed and follow the advice of the local health authorities including any restrictions put in place on
               travel, movement and gatherings.</p>
            <hr>
            <h2>Who is at risk of developing severe illness? <a class="q-7 btn btn-lg btn-light">+</a></h2>
            <p class="ans-7 hide">While we are still learning about how COVID-2019 affects people, older persons and
               persons with
               pre-existing
               medical conditions (such as high blood pressure, heart disease, lung disease, cancer or diabetes) appear
               to
               develop serious illness more often than others.</p>
            <hr>
            <h2>Are antibiotics effective in preventing or treating the COVID-19? <a
                  class="q-8 btn btn-lg btn-light">+</a></h2>
            <p class="ans-8 hide">No. Antibiotics do not work against viruses, they only work on bacterial infections.
               COVID-19 is caused
               by a
               virus, so antibiotics do not work. Antibiotics should not be used as a means of prevention or treatment
               of
               COVID-19. They should only be used as directed by a physician to treat a bacterial infection.</p>
            <hr>
            <h2>Are there any medicines or therapies that can prevent or cure COVID-19? <a
                  class="q-9 btn btn-lg btn-light">+</a></h2>
            <p class="ans-9 hide">While some western, traditional or home remedies may provide comfort and alleviate
               symptoms of COVID-19,
               there
               is no evidence that current medicine can prevent or cure the disease. WHO does not recommend
               self-medication
               with any medicines, including antibiotics, as a prevention or cure for COVID-19. However, there are
               several
               ongoing clinical trials that include both western and traditional medicines. WHO will continue to provide
               updated information as soon as clinical findings are available.</p>
            <hr>
            <h2>Is COVID-19 the same as SARS? <a class="q-10 btn btn-lg btn-light">+</a></h2>
            <p class="ans-10 hide">No. The virus that causes COVID-19 and the one that caused the outbreak of Severe
               Acute Respiratory
               Syndrome
               (SARS) in 2003 are related to each other genetically, but the diseases they cause are quite different.
               SARS was more deadly but much less infectious than COVID-19. There have been no outbreaks of SARS
               anywhere in
               the world since 2003</p>
            <hr>
            <h2>Should I wear a mask to protect myself? <a class="q-11 btn btn-lg btn-light">+</a></h2>
            <p class="ans-11 hide">Only wear a mask if you are ill with COVID-19 symptoms (especially coughing) or
               looking after someone who
               may
               have COVID-19. Disposable face mask can only be used once. If you are not ill or looking after someone
               who is
               ill then you are wasting a mask. There is a world-wide shortage of masks, so WHO urges people to use
               masks
               wisely.
               WHO advises rational use of medical masks to avoid unnecessary wastage of precious resources and mis-use
               of
               masks.
               The most effective ways to protect yourself and others against COVID-19 are to frequently clean your
               hands,
               cover your cough with the bend of elbow or tissue and maintain a distance of at least 1 meter (3 feet)
               from
               people who are coughing or sneezing.</p>
            <hr>
            <h2>How long is the incubation period for COVID-19? <a class="q-12 btn btn-lg btn-light">+</a></h2>
            <p class="ans-12 hide">The “incubation period” means the time between catching the virus and beginning to
               have symptoms of the
               disease. Most estimates of the incubation period for COVID-19 range from 1-14 days, most commonly around
               five
               days. These estimates will be updated as more data become available.</p>
            <hr>
            <h2>Can I catch COVID-19 from my pet? <a class="q-13 btn btn-lg btn-light">+</a></h2>
            <p class="ans-13 hide">While there has been one instance of a dog being infected in Hong Kong, to date,
               there is no evidence
               that a
               dog, cat or any pet can transmit COVID-19. COVID-19 is mainly spread through droplets produced when an
               infected
               person coughs, sneezes, or speaks. To protect yourself, clean your hands frequently and thoroughly.
               WHO continues to monitor the latest research on this and other COVID-19 topics and will update as new
               findings
               are available.</p>
            <hr>
            <h2>How long does the virus survive on surfaces? <a class="q-14 btn btn-lg btn-light">+</a></h2>
            <p class="ans-14 hide">It is not certain how long the virus that causes COVID-19 survives on surfaces, but
               it seems to behave
               like
               other coronaviruses. Studies suggest that coronaviruses (including preliminary information on the
               COVID-19
               virus) may persist on surfaces for a few hours or up to several days. This may vary under different
               conditions
               (e.g. type of surface, temperature or humidity of the environment).

               If you think a surface may be infected, clean it with simple disinfectant to kill the virus and protect
               yourself and others. Clean your hands with an alcohol-based hand rub or wash them with soap and water.
               Avoid
               touching your eyes, mouth, or nose.</p>
            <hr>
            <h2>Is it safe to receive a package from any area where COVID-19 has been reported? <a
                  class="q-15 btn btn-lg btn-light">+</a></h2>
            <p class="ans-15 hide">Yes. The likelihood of an infected person contaminating commercial goods is low and
               the risk of catching
               the
               virus that causes COVID-19 from a package that has been moved, travelled, and exposed to different
               conditions
               and temperature is also low.</p>
            <hr>
            <h2>Is COVID-19 airborne? <a class="q-16 btn btn-lg btn-light">+</a></h2>
            <p class="ans-16 hide">The virus that causes COVID-19 is mainly transmitted through droplets generated when
               an
               infected person
               coughs,
               sneezes, or speaks. These droplets are too heavy to hang in the air. They quickly fall on floors or
               surfaces.
               You can be infected by breathing in the virus if you are within 1 metre of a person who has COVID-19, or
               by
               touching a contaminated surface and then touching your eyes, nose or mouth before washing your hands.
            </p>
            <hr>
            <h2>How to put on, use, take off and dispose of a mask? <a class="q-17 btn btn-lg btn-light">+</a></h2>
            <ol class="ans-17 hide">
               <li>Remember, a mask should only be used by health workers, care takers, and individuals with respiratory
                  symptoms, such as fever and cough.</li>
               <li>Before touching the mask, clean hands with an alcohol-based hand rub or soap and water</li>
               <li>Take the mask and inspect it for tears or holes.</li>
               <li>Orient which side is the top side (where the metal strip is).</li>
               <li>Ensure the proper side of the mask faces outwards (the coloured side).</li>
               <li>Place the mask to your face. Pinch the metal strip or stiff edge of the mask so it moulds to the
                  shape of your nose.</li>
               <li>Pull down the mask’s bottom so it covers your mouth and your chin.</li>
               <li>After use, take off the mask; remove the elastic loops from behind the ears while keeping the mask
                  away from your face and clothes, to avoid touching potentially contaminated surfaces of the mask.</li>
               <li>Discard the mask in a closed bin immediately after use.</li>
               <li>Perform hand hygiene after touching or discarding the mask – Use alcohol-based hand rub or, if
                  visibly soiled, wash your hands with soap and water.</li>
            </ol>
         </div>
      </div>

   </div>
</div>
<script src="js/toggle.js"></script>
<%- include('partials/footer') -%>