<%- include('navbar') -%>
<link rel="stylesheet" href="css/myOrder.css">
<script src="js/myOrder.js"></script>
<!-- <div id="home-img" class="home-img"><img src="images/covidcare.png" alt="Covidcare"></div> -->
<div class="myorder-container container-fluid">
   <h1>My Orders</h1>
   <div class="myorders">
      <div class="container row stat-cards">

      </div>
   </div>
</div>

<%- include('partials/footer') -%>