<%- include('navbar') -%>
<script src="js/sell.js"></script>
<div id="home-img" class="home-img"><img src="images/covidcare.png" alt="Covidcare"></div>
<div class="order-container container">
   <div class="row">            
   </div>
</div>

<%- include('partials/footer') -%>