<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta name="description"
      content="As COVID-19 becomes a matter of global concern, we’re taking proactive measures to help minimise the chances of spread of the coronavirus. The safety of people across the country and abroad is a mandetory for us. This website leads towards a safe future and a step ahead of fighting against coronavirus.">
   <title>Covidcare</title>

   <!-- Stylesheets -->
   <link rel="stylesheet" href="css/signup.css">

   <!-- Favicon -->
   <link rel=" icon" type="icon" href="images/favicon.ico">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Permanent+Marker&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   <!-- Bootstrap Script -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>

   <!-- Jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script type="text/JavaScript" src='js/state.js'></script>
   <script type="text/JavaScript" src='js/signup.js'></script>
</head>

<body>

   <div class='wrapper container-xl'>
      <!--change here padding-top-->

      <div class="signup-page signup-page-default">
         <div class="header-main">
            <a class="header-logo" href="#"><img src="images/covidcare.png" alt=""></a>

            <h1 class="h2">Sign up for free and be a part of Covidcare</h1>

            <div class="header-login">
               <span>Already have an account?&nbsp;</span>
               <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-info " data-toggle="dropdown" id="signup-login"
                     aria-haspopup="true" aria-expanded="false">
                     Log in
                  </button>
                  <!--deletion here-->
               </div>
            </div>
         </div>
         <div class="signup-content">
            <div class="benefits page-body">
               <h2 class="h3"><i class="fas fa-user-shield"></i> Free account</h2>
               <p>One free account give you access to everything you need around you.</p>
               <hr />

               <h2 class="h3"><span class="icon hk-icon-sm hk-icon-deploy"></span><i class="fas fa-cogs"></i>
                  Information Hub
               </h2>
               <p>Get updated information about everything you need to know about COVID-19.</p>

               <h2 class="h3"><span class="icon hk-icon-sm hk-icon-app"></span><i class="fas fa-universal-access"></i>
                  Accessibility</h2>
               <p>Order online from shop near you and get your order within the guaranteed delivery time.</p>
               <hr />
            </div>


            <div class="signup page-sidebar">

               <form class="formDesign" action="" accept-charset="UTF-8" method="post">
                  <input type="hidden" name="slug" value="login" />

                  <div class="input-group">
                     <label for="name">
                        Name
                        <sup title="Required">*</sup>
                     </label> <input type="text" name="name" id="signup-name" class="required" autocapitalize="off"
                        autofocus="autofocus" placeholder="Name" required autofocus />
                  </div>

                  <div class="input-group">
                     <label for="email">
                        Email address
                        <sup title="Required">*</sup>
                     </label> <input type="email" name="email" id="signup-email" class="required" autocapitalize="off"
                        placeholder="Email address" required />
                  </div>

                  <div class="input-group">
                     <label for="mobile">
                        Mobile No. (do not include "+91")
                        <sup title="Required">*</sup>
                     </label> <input type="number" name="mobile" id="signup-mobile" class="mobile" autocapitalize="off"
                        placeholder="Mobile Number" required />
                  </div>

                  <div style="font-size: 13px;" class="input-group">
                     Select State: <select id="listBox" onchange='selct_district(this.value)'></select>
                     Select District: <select id='secondlist'></select>
                  </div>

                  <div class="input-group">
                     <label for="address-line1">
                        address-line1
                        <sup title="Required">*</sup>
                     </label> <input type="text" name="address-line1" id="address-line1" class="required"
                        autocapitalize="off" autofocus="autofocus" placeholder="address-line1" required />
                     <p style="font-size: 11px;" class="help-block">Street address, P.O. box, company name, c/o</p>
                  </div>

                  <div class="input-group">
                     <label for="address-line2">
                        address-line2
                        <sup title="Required">*</sup>
                     </label> <input type="text" name="address-line2" id="address-line2" class="required"
                        autocapitalize="off" autofocus="autofocus" placeholder="address-line2" required />
                     <p style="font-size: 11px;" class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                  </div>

                  <div class="input-group">
                     <label for="password">
                        Password (minimum length 8)
                        <sup title="Required">*</sup>
                     </label> <input type="password" id="signup-password" name="password" autocapitalize="off"
                        placeholder="create your password" required />
                  </div>

                  <div class="input-group">
                     <label for="password">
                        Conform Password
                        <sup title="Required">*</sup>
                     </label> <input type="password" id="signup-passwordconfirm" name="conformPassword"
                        autocapitalize="off" placeholder="conform your password" required />
                  </div>

                  <div class="input-group">
                     <input type="submit" id="signup-sub" name="commit" value="Create Free Account"
                        class="btn buttonn btn-alt full-width btn-primary" data-disable-with="Create Free Account">
                  </div>
               </form>

            </div>
         </div>
      </div>

   </div>

   <%- include('partials/footer') -%>