<%- include('navbar') -%>
<script>document.getElementById("login").style.display="none";</script>

<form action="/signup" method="post" style="display: block;margin-top: 10rem;" >

<input type="email" placeholder="email" required id="signup-email" name="email">
<input type="password" placeholder="password" required id="signup-password" name="password" minlength="8">
<input type="password" placeholder="passwordConfirm" required id="signup-passwordconfirm" name="passwordconfirm" minlength="8">
<input type="text" placeholder="address" required id="signup-address" name="address">

<label for="signup-user">select type</label>
<select id="signup-user"  form="userform" name="user">
  <option value="Shopkeeper">Shopkeeper</option>
  <option value="Customer">Customer</option>
</select>

<button type="submit" id="signup-sub" style="width: 50px;height: 50px;"></button>

<a href="/">already have an account/sign in</a>
</form>


<%- include('partials/footer') -%>